.tooltip {
    font-size: 14px !important;
    background-color: #CBD5E1 !important;
    color: #333 !important;
    font-family: Poppins;
    font-weight: 500;
    border-radius: 12.68px !important;
    padding: 24px 16px !important;
    margin-bottom: 8px;

    
    
}

.tooltip-arrow {
    // background-color: rgb(222, 34, 72);
    // position: absolute;
    // left: 100px;
    float: left;
}


.arrow {
    position: absolute;
    background: inherit;
}  

[class*='react-tooltip__place-top-start'] > .arrow {
    transform: rotate(45deg);
}


  
