$screeningFontUrl: "https://recruiter-hirist-static-content.s3.ap-south-1.amazonaws.com/Screening/fontello";

@font-face {
  font-family: "fontello";
  src: url($screeningFontUrl + "/fontello.eot?72189804");
  src: url($screeningFontUrl + "/fontello.eot?72189804#iefix")
      format("embedded-opentype"),
    url($screeningFontUrl + "/fontello.woff2?72189804") format("woff2"),
    url($screeningFontUrl + "/fontello.woff?72189804") format("woff"),
    url($screeningFontUrl + "/fontello.ttf?72189804") format("truetype"),
    url($screeningFontUrl + "/fontello.svg?72189804#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  // speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-edit-1:before {
  content: "\0800";
} /* 'ࠀ' */
.icon-delete:before {
  content: "\0801";
} /* 'ࠁ' */
.icon-asterisk:before {
  content: "\0802";
} /* 'ࠂ' */
.icon-cross:before {
  content: "\0803";
} /* 'ࠃ' */
.icon-drag-and-drop:before {
  content: "\0804";
} /* 'ࠄ' */
